target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
testbenchTbaGapp/src/test/java/de/gaalop/testbenchTbaGapp/gapp/generatedTests/
.idea/
*.iml
algebra/src/main/resources/ccga
algebra/src/main/resources/de/gaalop/algebra/algebra/qra6/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/qra1f/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/qga/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/qac/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/dcga/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/cra/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/cga/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/6d/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/3dpga/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/3d/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/2dpga/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/2d/products.csv
algebra/src/main/resources/de/gaalop/algebra/algebra/sta/products.csv




